<!doctype html>
<html>
  <head>
      <title>Forms Demo</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <h1>Find some good eats!</h2>

    <h2>Search a Neighborhood</h2>

    <form action="/results" method="POST">
      Location: <input type="text" name="location">
      <input type="submit">
    </form>

  </body>
</html>

